In [3]:
import pandas as pd


## 查看Pandas版本
pd.__version__

'1.0.5'

In [4]:
import numpy as np
import pandas as pd

In [5]:
data = pd.Series([2.0, 2.5, 3.0, 3.5, 4.0])
data

0    2.0
1    2.5
2    3.0
3    3.5
4    4.0
dtype: float64

In [6]:
## 元素值
data.values

array([2. , 2.5, 3. , 3.5, 4. ])

In [7]:
## 索引
data.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
data[2]

3.0

In [9]:
data[1:4]

1    2.5
2    3.0
3    3.5
dtype: float64

In [11]:
data = pd.Series([0.2, 0.4, 0.6, 0.8, 1.0],
                  index = ['a', 'b', 'c', 'd', 'e'])
                               
data

a    0.2
b    0.4
c    0.6
d    0.8
e    1.0
dtype: float64

In [12]:
## 查看索引序號為c的值
data['c']

0.6

In [13]:
data = pd.Series([0.2, 0.4, 0.6, 0.8, 1.0],
                  index = ['a', 'b', 'c', 'd', 'e'])
                               
data

a    0.2
b    0.4
c    0.6
d    0.8
e    1.0
dtype: float64

In [14]:
## 查看索引序號為c的值
data['c']

0.6

In [15]:
data = pd.Series([0.2, 0.4, 0.6, 0.8, 1], index = [2, 6, 3, 7, 8])

data

2    0.2
6    0.4
3    0.6
7    0.8
8    1.0
dtype: float64

In [16]:
## 訪問索引序號為7的值
data[7]

0.8

In [18]:
city_population_dict = {'HsinChu': 534262,
'Taipei': 612450, 
'Taichung': 520468,
'Kaohsiung': 642836,
'Hualien': 264186,}

population_series = pd.Series(city_population_dict)

In [19]:
population_series['HsinChu']

534262

In [20]:
population_series['Taipei':'Kaohsiung']

Taipei       612450
Taichung     520468
Kaohsiung    642836
dtype: int64

In [22]:
pd.Series([2, 6, 8])

0    2
1    6
2    8
dtype: int64

In [24]:
pd.Series(100, index = ['Student A', 2, 'Student B', 8])

Student A    100
2            100
Student B    100
8            100
dtype: int64

In [28]:
pd.Series({2: 'a', 6:'b', 8:'c'}, index = [8, 2])

8    c
2    a
dtype: object

In [26]:
pd.Series({2: 'a', 6:'b', 8:'c'})

2    a
6    b
8    c
dtype: object

In [30]:
## 創建兩個Series

## 人口
city_population_dict = {'HsinChu': 534262,
'Taipei': 612450, 
'Taichung': 520468,
'Kaohsiung': 642836,
'Hualien': 264186,}

populaition_series = pd.Series(city_population_dict)
print(population_series)

## 房屋數

city_house_dict = {'HsinChu': 600000,
'Taipei': 8012450, 
'Taichung': 1220468,
'Kaohsiung': 6242836,
'Hualien': 2364186,}

house_series = pd.Series(city_house_dict)
house_series

HsinChu      534262
Taipei       612450
Taichung     520468
Kaohsiung    642836
Hualien      264186
dtype: int64

HsinChu       600000
Taipei       8012450
Taichung     1220468
Kaohsiung    6242836
Hualien      2364186
dtype: int64

In [32]:
## 結合兩個Series，並創建DataFrame

city = pd.DataFrame({'population': population_series, 'house': house_series})

city

           population    house
HsinChu        534262   600000
Taipei         612450  8012450
Taichung       520468  1220468
Kaohsiung      642836  6242836
Hualien        264186  2364186

In [34]:
## 查看索引值
city.index

Index(['HsinChu', 'Taipei', 'Taichung', 'Kaohsiung', 'Hualien'], dtype='object')

In [37]:
## 查看特徵欄位
city.columns

## 轉成ndarray
## city.columns.values

Index(['population', 'house'], dtype='object')

In [38]:
city['house']

HsinChu       600000
Taipei       8012450
Taichung     1220468
Kaohsiung    6242836
Hualien      2364186
Name: house, dtype: int64

In [40]:
pd.DataFrame(house_series, columns = ['house'])

             house
HsinChu     600000
Taipei     8012450
Taichung   1220468
Kaohsiung  6242836
Hualien    2364186

In [42]:
data = [{'a': i,'b': i **2} for i in range(6)]

pd.DataFrame(data)

   a   b
0  0   0
1  1   1
2  2   4
3  3   9
4  4  16
5  5  25

In [44]:
pd.DataFrame([{'a': 2, 'c': 6}, {'b': 8, 'a': 10}])

    a    c    b
0   2  6.0  NaN
1  10  NaN  8.0

In [46]:
pd.DataFrame({'population': population_series, 'house': house_series})

           population    house
HsinChu        534262   600000
Taipei         612450  8012450
Taichung       520468  1220468
Kaohsiung      642836  6242836
Hualien        264186  2364186

In [48]:
pd.DataFrame(np.random.rand(4, 2),
                       columns = ['test1', 'test2'], index = ['a', 'b', 'c', 'd'])

      test1     test2
a  0.224636  0.483248
b  0.144457  0.579278
c  0.872050  0.698449
d  0.356679  0.849119

In [50]:
A = np.zeros(3, dtype = [('A', 'i8'), ('B', 'f8')])

A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [52]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [54]:
ind = pd.Index([2, 4, 5, 7, 8, 10, 18])

ind

Int64Index([2, 4, 5, 7, 8, 10, 18], dtype='int64')

In [55]:
ind[2]

5

In [57]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

7 (7,) 1 int64

In [59]:
ind[0] = 6

TypeError: Index does not support mutable operations

In [61]:
indA = pd.Index([1, 4, 6, 7, 9, 10])
indB = pd.Index([2, 4, 6, 7, 9, 8])

In [62]:
## 交集 interesectio
indA & indB

Int64Index([4, 6, 7, 9], dtype='int64')

In [64]:
## 聯集 union
indA | indB

Int64Index([1, 2, 4, 6, 7, 8, 9, 10], dtype='int64')

In [66]:
## 差集合symmetric difference
indA ^ indB

Int64Index([1, 2, 8, 10], dtype='int64')

In [70]:
print(indA.intersection(indB))
print(indA.union(indB))
print(indA.symmetric_difference(indB))
print(indA.difference(indB))

Int64Index([4, 6, 7, 9], dtype='int64')
Int64Index([1, 2, 4, 6, 7, 8, 9, 10], dtype='int64')
Int64Index([1, 2, 8, 10], dtype='int64')
Int64Index([1, 10], dtype='int64')