# Handing Missing Data

In [4]:
## 導入所需的套件
import numpy as np
import pandas as pd

In [6]:
## 構建一個包含None的數組
x = np.array([1, None, 2 ,4])
x

array([1, None, 2, 4], dtype=object)

In [7]:
## 比較object和int類型在數據操作上的速度
for dtype in ['object', 'int']:
    print("dtype = ", dtype)
    ## 1E6: 1乘10的6次方
    %timeit np.arange(1E6, dtype = dtype).sum()
    print()

dtype =  object
177 ms ± 19.8 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype =  int
7.26 ms ± 245 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [8]:
x.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [10]:
y = np.array([2, np.nan, 6, 10])
y.dtype

dtype('float64')

In [12]:
print(1 + np.nan)
print(2 + y)

nan
[ 4. nan  8. 12.]

In [17]:
print(0 * np.nan)
print(1 * y)

nan
[ 2. nan  6. 10.]

In [19]:
y.sum(), y.min(), y.max()

(nan, nan, nan)

In [22]:
np.nansum(y), np.nanmin(y), np.nanmax(y)

(18.0, 2.0, 10.0)

In [25]:
pd.Series([2, np.nan, 6, None])

0    2.0
1    NaN
2    6.0
3    NaN
dtype: float64

In [27]:
x = pd.Series(range(6), dtype = 'int64')
x

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [28]:
x[1] = None
x

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
dtype: float64

In [29]:
data = pd.Series([2, None, 6, np.nan])
print(data)
## 檢測Null值
data.isnull()

0    2.0
1    NaN
2    6.0
3    NaN
dtype: float64

0    False
1     True
2    False
3     True
dtype: bool

In [31]:
## 找出不為null值的數據
data[data.notnull()]

0    2.0
2    6.0
dtype: float64

In [33]:
## 移除掉null值
data.dropna()

0    2.0
2    6.0
dtype: float64

In [39]:
## 構建一個含有null值的DataFrame
df = pd.DataFrame([[2, np.nan, 6],
                  [3, 5, 8],
                  [None, 6, 8]])                                  
df

     0    1  2
0  2.0  NaN  6
1  3.0  5.0  8
2  NaN  6.0  8

In [40]:
## 移除空值 - 預設情況會依據行
df.dropna()

     0    1  2
1  3.0  5.0  8

In [42]:
## 移除空值 - 依據列
df.dropna(axis = 'columns')

   2
0  6
1  8
2  8

In [44]:
## 增加一列全為NaN
df[3] = np.nan
df

     0    1  2   3
0  2.0  NaN  6 NaN
1  3.0  5.0  8 NaN
2  NaN  6.0  8 NaN

In [45]:
## 移除全部都為空值的列
df.dropna(axis = 'columns', how = 'all')

     0    1  2
0  2.0  NaN  6
1  3.0  5.0  8
2  NaN  6.0  8

In [47]:
## 移除掉非空值數量少於3的行
df.dropna(axis = 'rows', thresh = 3)

     0    1  2   3
1  3.0  5.0  8 NaN

In [50]:
data = pd.Series([2, None, 4, np.nan, 6], index = list("ABCDE"))

data

A    2.0
B    NaN
C    4.0
D    NaN
E    6.0
dtype: float64

In [52]:
## 用0替換空值
data.fillna(0)

A    2.0
B    0.0
C    4.0
D    0.0
E    6.0
dtype: float64

In [53]:
## 向前填充
data.fillna(method = 'ffill')

A    2.0
B    2.0
C    4.0
D    4.0
E    6.0
dtype: float64

In [56]:
## 向後填充
data.fillna(method = 'bfill')

A    2.0
B    4.0
C    4.0
D    6.0
E    6.0
dtype: float64

In [58]:
df

     0    1  2   3
0  2.0  NaN  6 NaN
1  3.0  5.0  8 NaN
2  NaN  6.0  8 NaN

In [60]:
df.fillna(method = 'ffill', axis = 1)

     0    1    2    3
0  2.0  2.0  6.0  6.0
1  3.0  5.0  8.0  8.0
2  NaN  6.0  8.0  8.0

# Hierarchical Indexing

In [2]:
## 導入所需的套件
import numpy as np
import pandas as pd

In [4]:
## 構建索引
index = [
    ('Hsinchu', 2020), ('Hsinchu', 2021),
    ('Taipei', 2020), ('Taipei', 2021),
    ('Taichung', 2020), ('Taichung', 2021)
]


## 數據
house = [
    52457, 57686,
    267496, 326717,
    256486, 239766
]

## 構建Series
city_house = pd.Series(house, index = index)

city_house

(Hsinchu, 2020)      52457
(Hsinchu, 2021)      57686
(Taipei, 2020)      267496
(Taipei, 2021)      326717
(Taichung, 2020)    256486
(Taichung, 2021)    239766
dtype: int64

In [5]:
city_house[('Hsinchu', 2021):('Taichung', 2020)]

(Hsinchu, 2021)      57686
(Taipei, 2020)      267496
(Taipei, 2021)      326717
(Taichung, 2020)    256486
dtype: int64

In [7]:
city_house[[i for i in city_house.index if i[1] == 2021]]

(Hsinchu, 2021)      57686
(Taipei, 2021)      326717
(Taichung, 2021)    239766
dtype: int64

In [9]:
## 使用tuple來構建一個多重索引
index = pd.MultiIndex.from_tuples(index)

index

MultiIndex([( 'Hsinchu', 2020),
            ( 'Hsinchu', 2021),
            (  'Taipei', 2020),
            (  'Taipei', 2021),
            ('Taichung', 2020),
            ('Taichung', 2021)],
           )

In [10]:
## 使用這個多重索引來重新索引
city_house = city_house.reindex(index)

city_house

Hsinchu   2020     52457
          2021     57686
Taipei    2020    267496
          2021    326717
Taichung  2020    256486
          2021    239766
dtype: int64

In [17]:
## 檢視2021年的數據
print(city_house[:, 2021])

print()

## 檢視HsinChu底下的所有數據
print(city_house['Hsinchu', :])

Hsinchu      57686
Taipei      326717
Taichung    239766
dtype: int64

2020    52457
2021    57686
dtype: int64

In [18]:
## Series
print(city_house)

## 轉換成DataFrame
house_df = city_house.unstack()
house_df

Hsinchu   2020     52457
          2021     57686
Taipei    2020    267496
          2021    326717
Taichung  2020    256486
          2021    239766
dtype: int64

            2020    2021
Hsinchu    52457   57686
Taichung  256486  239766
Taipei    267496  326717

In [20]:
## 轉換回Series
house_df.stack()

Hsinchu   2020     52457
          2021     57686
Taichung  2020    256486
          2021    239766
Taipei    2020    267496
          2021    326717
dtype: int64

In [25]:
## 增加一列
house_df = pd.DataFrame({
    'house_total': city_house,
    'house_empty': [
        28796, 23768,
        82239, 97983,
        53899, 68589
    ]
})

house_df

               house_total  house_empty
Hsinchu  2020        52457        28796
         2021        57686        23768
Taipei   2020       267496        82239
         2021       326717        97983
Taichung 2020       256486        53899
         2021       239766        68589

In [27]:
## 計算兩個年份的空屋比例
house_empty_rate = house_df['house_empty'] / house_df['house_total']

## 轉換成DataFrame
house_empty_rate.unstack()

              2020      2021
Hsinchu   0.548945  0.412024
Taichung  0.210144  0.286066
Taipei    0.307440  0.299902

In [32]:
## DataFrame: 隨機產生一個4 X 2的正態分佈數值，並指定索引和列名
df = pd.DataFrame(np.random.rand(4, 2),
        index = [['x', 'x', 'y', 'y'], [1, 2, 1, 2]],
        columns = ['A', 'B']
        )
df

            A         B
x 1  0.581081  0.146809
  2  0.328485  0.755335
y 1  0.857818  0.576922
  2  0.525348  0.751516

In [34]:
## 使用元祖tuple來創建Series
data = {
    ('Hsinchu', 2020): 52437,
    ('Hsinchu', 2021): 57668,
    ('Taipei', 2020): 284327,
    ('Taipei', 2021): 346517,
    ('Taichung', 2020): 52897,
    ('Taichung', 2021): 297982
}

pd.Series(data)

Hsinchu   2020     52437
          2021     57668
Taipei    2020    284327
          2021    346517
Taichung  2020     52897
          2021    297982
dtype: int64

In [40]:
## array - 構建多重索引
pd.MultiIndex.from_arrays([['x', 'x', 'y', 'y'], [1, 2, 1, 2]])

MultiIndex([('x', 1),
            ('x', 2),
            ('y', 1),
            ('y', 2)],
           )

In [42]:
## tuple - 構建多重索引
pd.MultiIndex.from_tuples([('x', 1), ('x', 2), ('y', 1), ('y', 2)])

MultiIndex([('x', 1),
            ('x', 2),
            ('y', 1),
            ('y', 2)],
           )

In [44]:
## Cartesian product - 構建多重索引
pd.MultiIndex.from_product([['x', 'y'], [1, 2, 3]])

MultiIndex([('x', 1),
            ('x', 2),
            ('x', 3),
            ('y', 1),
            ('y', 2),
            ('y', 3)],
           )

In [46]:
## MultiIndex - levels和codes構建多重索引
pd.MultiIndex(levels = [['x', 'y', 'z'], [1, 2]],
    codes = [[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

MultiIndex([('x', 1),
            ('x', 2),
            ('y', 1),
            ('y', 2),
            ('z', 1),
            ('z', 2)],
           )

In [48]:
## 多層次命名
city_house.index.names = ['City', 'Year']

city_house

City      Year
Hsinchu   2020     52457
          2021     57686
Taipei    2020    267496
          2021    326717
Taichung  2020    256486
          2021    239766
dtype: int64

In [64]:
## 構建行和列的多重索引
index = pd.MultiIndex.from_product([[2020, 2021], [1, 2]],
                              names = ['year', 'visit'])
                              
columns = pd.MultiIndex.from_product([['Ken', 'Jen', 'Cathy'], ['HR', 'Temp']], 
                           names = ['subject', 'type']
         )
         
         
## 隨機產生一個4 X 6 的數據
data = np.round(np.random.randn(4, 6), 2)

data[:, ::2] *=10
data+=40

## 構建DataFrame
hospital_data = pd.DataFrame(data, index = index, columns = columns)

hospital_data

subject      Ken          Jen        Cathy
type          HR   Temp    HR   Temp    HR   Temp
year visit
2020 1      36.5  40.15  41.2  38.67  40.5  38.95
     2      56.2  38.69  54.9  39.18  34.0  39.38
2021 1      53.8  39.12  29.0  38.76  30.9  41.49
     2      37.8  38.64  44.1  38.32  32.4  40.96

In [66]:
## 獲取Ken的數據
hospital_data['Ken']

type          HR   Temp
year visit
2020 1      36.5  40.15
     2      56.2  38.69
2021 1      53.8  39.12
     2      37.8  38.64

In [68]:
## 索引
index = [
    ('Hsinchu', 2020), ('Hsinchu', 2021),
    ('Taipei', 2020), ('Taipei', 2021),
    ('Taichung', 2020), ('Taichung', 2021)
]


## 數據
house = [
    52457, 57686,
    267496, 326717,
    256486, 239766
]

## 構建Series
city_house = pd.Series(house, index = index)

## 構建多重索引
index = pd.MultiIndex.from_tuples(index)

## 重新索引
city_house = city_house.reindex(index)

city_house

Hsinchu   2020     52457
          2021     57686
Taipei    2020    267496
          2021    326717
Taichung  2020    256486
          2021    239766
dtype: int64

In [70]:
## 檢索Taipei在2020的房屋數
city_house['Taipei', 2020]

267496

In [72]:
## 檢索Taichung的數據
city_house['Taichung']

2020    256486
2021    239766
dtype: int64

In [74]:
## 檢索Hsinchu到Taipei的數據
city_house.loc['Hsinchu':'Taipei']

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [78]:
## 索引
index = [
    ('Hsinchu', 2020), ('Hsinchu', 2021),
    ('Taichung', 2020), ('Taichung',2021),
    ('Taipei', 2020), ('Taipei', 2021)]


## 數據
house = [
    52457, 57686,
    256486, 239766,
    267496, 326717,
]

## 構建Series
city_house = pd.Series(house, index = index)

## 構建多重索引
index = pd.MultiIndex.from_tuples(index)

## 重新索引
city_house = city_house.reindex(index)


## 檢索Taichung到Taipei的數據
city_house['Taichung':'Taipei']

Taichung  2020    256486
          2021    239766
Taipei    2020    267496
          2021    326717
dtype: int64

In [80]:
## 查看2020年的資料
city_house[:, 2020]

Hsinchu      52457
Taichung    256486
Taipei      267496
dtype: int64

In [82]:
## 檢索房屋數大於26萬的數據
city_house[city_house > 260000]

Taipei  2020    267496
        2021    326717
dtype: int64

In [85]:
## 檢索Hsinchu和Taipei的數據
city_house[['Hsinchu', 'Taipei']]

Hsinchu  2020     52457
         2021     57686
Taipei   2020    267496
         2021    326717
dtype: int64

In [87]:
hospital_data

subject      Ken          Jen        Cathy
type          HR   Temp    HR   Temp    HR   Temp
year visit
2020 1      36.5  40.15  41.2  38.67  40.5  38.95
     2      56.2  38.69  54.9  39.18  34.0  39.38
2021 1      53.8  39.12  29.0  38.76  30.9  41.49
     2      37.8  38.64  44.1  38.32  32.4  40.96

In [89]:
## 查看Ken的心律指數
hospital_data['Ken', 'HR']

year  visit
2020  1        36.5
      2        56.2
2021  1        53.8
      2        37.8
Name: (Ken, HR), dtype: float64

In [91]:
## 行和列各呈現前兩筆數據
hospital_data.iloc[:2, :2]

subject      Ken
type          HR   Temp
year visit
2020 1      36.5  40.15
     2      56.2  38.69

In [93]:
## 獲取Jen的心律數據
hospital_data.loc[:, ('Jen', 'HR')]

year  visit
2020  1        41.2
      2        54.9
2021  1        29.0
      2        44.1
Name: (Jen, HR), dtype: float64

In [95]:
hospital_data.loc[(:, 1), (:, 'HR')]

SyntaxError: invalid syntax (<ipython-input-95-050c3e2ff1dd>, line 1)

In [99]:
idx = pd.IndexSlice
## 檢索每個人每一年的第一筆心律數據
hospital_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Ken   Jen Cathy
type          HR    HR    HR
year visit
2020 1      36.5  41.2  40.5
2021 1      53.8  29.0  30.9

In [103]:
## 構建多重索引
index = pd.MultiIndex.from_product(
[['a', 'c', 'b', 'd'], [1, 2]])
## 構建多重索引的Series
data = pd.Series(np.random.rand(8), index = index)
## 添加索引標籤名稱
data.index.names = ['char', 'float']

In [107]:
## 切片操作
try:
    data['a':'d']
except KeyError as e:
    print(type(e))
    print('Error Message: ', e)

<class 'pandas.errors.UnsortedIndexError'>
Error Message:  'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [109]:
## 索引排序
data = data.sort_index()

data

char  float
a     1        0.578024
      2        0.855234
b     1        0.894249
      2        0.005984
c     1        0.790318
      2        0.471692
d     1        0.857639
      2        0.955646
dtype: float64

In [110]:
## 切片操作
data['a':'d']

char  float
a     1        0.578024
      2        0.855234
b     1        0.894249
      2        0.005984
c     1        0.790318
      2        0.471692
d     1        0.857639
      2        0.955646
dtype: float64

In [112]:
print(city_house)

## 根據城市名稱轉換成二維形式
city_house.unstack(level = 0)

Hsinchu   2020     52457
          2021     57686
Taichung  2020    256486
          2021    239766
Taipei    2020    267496
          2021    326717
dtype: int64

      Hsinchu  Taichung  Taipei
2020    52457    256486  267496
2021    57686    239766  326717

In [114]:
## 根據年份轉換成二維形式
city_house.unstack(level = 1)

            2020    2021
Hsinchu    52457   57686
Taichung  256486  239766
Taipei    267496  326717

In [116]:
## 堆疊數據
city_house.unstack().stack()

Hsinchu   2020     52457
          2021     57686
Taichung  2020    256486
          2021    239766
Taipei    2020    267496
          2021    326717
dtype: int64

In [120]:
## 增加索引標籤
city_house.index.names = ['city', 'year']

## 將索引標籤轉為列數據
city_house_flat = city_house.reset_index(name = 'house')

city_house_flat

       city  year   house
0   Hsinchu  2020   52457
1   Hsinchu  2021   57686
2  Taichung  2020  256486
3  Taichung  2021  239766
4    Taipei  2020  267496
5    Taipei  2021  326717

In [124]:
## 構建MultiIndex的DataFrame
city_house_flat.set_index(['city', 'year'])

                house
city     year
Hsinchu  2020   52457
         2021   57686
Taichung 2020  256486
         2021  239766
Taipei   2020  267496
         2021  326717

In [128]:
hospital_data

subject      Ken          Jen        Cathy
type          HR   Temp    HR   Temp    HR   Temp
year visit
2020 1      36.5  40.15  41.2  38.67  40.5  38.95
     2      56.2  38.69  54.9  39.18  34.0  39.38
2021 1      53.8  39.12  29.0  38.76  30.9  41.49
     2      37.8  38.64  44.1  38.32  32.4  40.96

In [130]:
## 依照年份計算測量平均
data_mean = hospital_data.mean(level = 'year')

data_mean

subject    Ken           Jen          Cathy
type        HR   Temp     HR    Temp     HR    Temp
year
2020     46.35  39.42  48.05  38.925  37.25  39.165
2021     45.80  38.88  36.55  38.540  31.65  41.225

In [132]:
## 根據測量種類沿著列計算平均
data_mean.mean(axis = 1, level = 'type')

type         HR       Temp
year
2020  43.883333  39.170000
2021  38.000000  39.548333